<?xml version='1.0' encoding='utf-8'?>
<plugin id="bidchat-plugin-animations" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BidchatAnimations</name>
    <js-module name="BidchatAnimations" src="www/BidchatAnimations.js">
        <clobbers target="cordova.plugins.BidchatAnimations" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BidchatAnimations">
                <param name="android-package" value="com.bidchat.BidchatAnimations.BidchatAnimations" />
            </feature>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml" />
        
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/src/BidchatAnimations.java" target-dir="src/com/bidchat/BidchatAnimations" />
        
        <!-- For Share Menu -->
        <source-file src="src/android/src/FakeR.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuAdapter.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuAnimator.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuClickListener.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuItem.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuTouchListener.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/PopMenuActivity.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/PopMenuItemClickListener.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/PopMenuView.java" target-dir="src/com/bidchat/BidchatAnimations" />

        <source-file src="src/android/res/layout/layout_pop_menu.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/menu_item.xml" target-dir="res/layout"/>

        <source-file src="src/android/res/drawable-hdpi/email.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/facebook.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/google_plus.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/instagram.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/messages.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/twitter.png" target-dir="res/drawable"/>

        <source-file src="src/android/res/values/colors.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/dimens.xml" target-dir="res/values"/>

        <!--<framework src="hanks.xyz:htextview-library:0.1.5"/>-->
        <framework src="src/android/htextview-library" custom="true"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BidchatAnimations">
                <param name="ios-package" value="BidchatAnimations" />
            </feature>
        </config-file>

        <source-file src="src/ios/BidchatAnimations.m" />

        <!-- For Share Menu -->
        <source-file src="src/ios/resources/email.png" target-dir="resource"/>
        <source-file src="src/ios/resources/facebook.png" target-dir="resource"/>
        <source-file src="src/ios/resources/google-plus.png" target-dir="resource"/>
        <source-file src="src/ios/resources/instagram.png" target-dir="resource"/>
        <source-file src="src/ios/resources/messages.png" target-dir="resource"/>
        <source-file src="src/ios/resources/twitter.png" target-dir="resource"/>

        <!-- For Countdown Animation Label -->
        <source-file src="src/ios/CountdownLabel.swift" />

        <!-- For LTMorphing Label Library -->
        <header-file src="src/ios/LTMorphingLabel/LTMorphingLabel.h" target-dir="LTMorphingLabel"/>

        <source-file src="src/ios/LTMorphingLabel/Particles/Fire.png" target-dir="LTMorphingLabel/Particles"/>
        <source-file src="src/ios/LTMorphingLabel/Particles/Fragment.png" target-dir="LTMorphingLabel/Particles"/>
        <source-file src="src/ios/LTMorphingLabel/Particles/Smoke.png" target-dir="LTMorphingLabel/Particles"/>
        <source-file src="src/ios/LTMorphingLabel/Particles/Sparkle.png" target-dir="LTMorphingLabel/Particles"/>

        <source-file src="src/ios/LTMorphingLabel/LTCharacterDiffResult.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTCharacterLimbo.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTEasing.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTEmitterView.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingEffect.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingLabel.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingLabel+Anvil.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingLabel+Burn.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingLabel+Evaporate.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingLabel+Fall.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingLabel+Pixelate.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTMorphingLabel+Sparkle.swift" target-dir="LTMorphingLabel"/>
        <source-file src="src/ios/LTMorphingLabel/LTStringDiffResult.swift" target-dir="LTMorphingLabel"/>

        <!-- For Floating Hearts -->
        <source-file src="src/ios/FloatingHearts/FloatingHearts.h" target-dir="FloatingHearts"/>
        <source-file src="src/ios/FloatingHearts/HeartView.swift" target-dir="FloatingHearts"/>
        <source-file src="src/ios/FloatingHearts/Helpers.swift" target-dir="FloatingHearts"/>
        <source-file src="src/ios/FloatingHearts/heart.png" target-dir="FloatingHearts"/>

        <!-- Project Level -->
        <framework src="QuartzCore.framework" />

        <!--<dependency id="cordova-plugin-swift-support" version="~3.1.1"/>-->
    </platform>

    <platform name="ios">
        <preference name="deployment-target" value="9.0" />
        <preference name="pods_use_frameworks" value="true" />
        <pod id="PopMenu" />
        <pod id="DCAnimationKit" /> <!-- For Flash Notifications-->
        <!--<pod id="CountdownLabel" /> -->
        <!-- For Countdown Timer-->
    </platform>
</plugin>