<?xml version='1.0' encoding='utf-8'?>
<plugin id="bidchat-plugin-animations" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BidchatAnimations</name>
    <js-module name="BidchatAnimations" src="www/BidchatAnimations.js">
        <clobbers target="cordova.plugins.BidchatAnimations" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BidchatAnimations">
                <param name="android-package" value="com.bidchat.BidchatAnimations.BidchatAnimations" />
            </feature>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml" />
        
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/src/BidchatAnimations.java" target-dir="src/com/bidchat/BidchatAnimations" />
        
        <!-- For Share Menu -->
        <source-file src="src/android/src/FakeR.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuAdapter.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuAnimator.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuClickListener.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuItem.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/MenuTouchListener.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/PopMenuActivity.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/PopMenuItemClickListener.java" target-dir="src/com/bidchat/BidchatAnimations" />
        <source-file src="src/android/src/PopMenuView.java" target-dir="src/com/bidchat/BidchatAnimations" />

        <source-file src="src/android/res/layout/layout_pop_menu.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/menu_item.xml" target-dir="res/layout"/>

        <source-file src="src/android/res/drawable-hdpi/email.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/facebook.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/google_plus.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/instagram.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/messages.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/twitter.png" target-dir="res/drawable"/>

        <source-file src="src/android/res/values/colors.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/dimens.xml" target-dir="res/values"/>

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BidchatAnimations">
                <param name="ios-package" value="BidchatAnimations" />
            </feature>
        </config-file>

        <source-file src="src/ios/BidchatAnimations.m" />

        <source-file src="src/ios/resources/email.png" />
        <source-file src="src/ios/resources/facebook.png" />
        <source-file src="src/ios/resources/google-plus.png" />
        <source-file src="src/ios/resources/instagram.png" />
        <source-file src="src/ios/resources/messages.png" />
        <source-file src="src/ios/resources/twitter.png" />

        <framework src="QuartzCore.framework" />

    </platform>

    <platform name="ios">
        <preference name="deployment-target" value="9.0" />
        <preference name="pods_use_frameworks" value="true" />
        <pod id="PopMenu" />
        <pod id="DCAnimationKit" /> <!-- For Flash Notifications-->
    </platform>
</plugin>